
@{
    ViewBag.Title = "deleteproduct";
}

<br />
<br />
<h2 style="text-align:center; color:forestgreen" class="alert alert-success" role="alert">DELETE LIST</h2>

<div class="alert alert-success" role="alert"><b> product deleted  </b></div>
<a href="@Url.Action("listproduct")"> Go to Product List</a>