@{
    ViewBag.Title = "About";
}

<br />
<br />
<h2 style="text-align:center; color:forestgreen" class="alert alert-success" role="alert">ABOUT</h2>

<div style='background-color: rgba(255, 255, 255,0.4)'>
    <p style='font-size:35px; color:darkblue'>ESRA ÇAKIR </p>
    <p style='font-size:35px; color:darkblue'>12401603</p>
</div>