@model   List<Damacanawithdb.Models.user>
@{
    ViewBag.Title = "listuser";
}

<h2>listuser</h2>





<br />

<h2 style="text-align:center; color:forestgreen" class="alert alert-success" role="alert">USER LIST</h2>
<br />

<div>

    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <p> <img src="C:\Users\cakir\Desktop\damacana1.png" width=255 height=255></p>
            <p class="alert alert-warning" role="alert" style="text-align:center">
                @item.id:  @item.name 

            </p>
            <p class="alert alert-warning" role="alert" style="text-align:center">


                @Html.ActionLink("Delete", "deleteuser", new { id = item.id })

            </p>

        </div>
    }

</div>